@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot');
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff') format('woff'),
      url('./assets/fonts/Noto/NotoSans-Regular.ttf') format('truetype'),
      url('./assets/fonts/Noto/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --general-size-factor-px: (0.00188323 * 100vw); /* Will be overridden by media query.. */

  --nav-bar-height: calc(var(--general-size-factor-px) * 27);

  --background-color-primary: rgba(0, 0, 0, 1);
  --background-color-secondary: rgba(255,255,255, .2);
  --complementary-color-primary: rgba(255, 255, 255, 1);
  --complementary-color-primary-faded: rgba(255, 255, 255, .6);
  --complementary-color-secondary: rgba(100, 100, 255, 1);
  --complementary-color-secondary-faded: rgba(100, 100, 255, .6);
  --complementary-color-tertiary: rgba(255, 100, 100, 1);
  --complementary-color-tertiary-faded: rgba(255, 100, 100, .6);
  --complementary-color-quaternary: rgba(100, 255, 100, 1);
  --complementary-color-quaternary-faded: rgba(100, 255, 100, .6);

  --text-shadow-primary: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary);
  --text-shadow-primary-faded: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary-faded);
}

* {
  padding: 0;
  margin: 0;
  
  background-color: var(--background-color-primary);
  color: var(--complementary-color-primary);
  
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: Noto Sans;
  font-size: calc(12 * var(--general-size-factor-px));
}
html * {
  z-index: 1;
  background: transparent;
  user-select: none;
}

html, #root, body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  animation: opacity0to1 1s;
}

main.page {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(1);
}
main.page > * {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--nav-bar-height));
  top: var(--nav-bar-height);
}
main.page * {
  transition: 300ms ease-out;
}
/* nav */
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(var(--general-size-factor-px) * 400);
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

  border-radius: 0 0 calc(var(--general-size-factor-px) * 10) calc(var(--general-size-factor-px) * 10);

}
.nav-link {
  text-decoration: none;
  background-color: transparent;
  transition: .3s ease-out;
  font-size: calc(20 * var(--general-size-factor-px));
}
a.nav-link:hover {
  font-size: calc(25 * var(--general-size-factor-px));
  text-shadow: var(--text-shadow-primary);
}
.nav-link.current {
  font-size: calc(23 * var(--general-size-factor-px));
  text-shadow: var(--text-shadow-primary-faded);
}


/* page animations  */
main.page {
  position: absolute;
}

main.page-enter {
  opacity: 0;
  transform: translate(-50%, 20%) scale(.6);
}

main.page-enter-active {
  opacity: 1;
  transform: translate(-50%, 0%) scale(1);
  transition: 300ms;
}

main.page-exit {
  opacity: 1;
  transform: translate(-50%, 0%) scale(1);
}

main.page-exit-active {
  opacity: 0;
  transform: translate(-50%, -20%) scale(1.4);
  transition: 300ms;
}


/* glowy!*/


div.glowy-container div.trail-element {
  opacity: 0;
  border-radius: 50%;
  background: white;
  position: fixed;
  width: calc(var(--general-size-factor-px) * 5);
  height: calc(var(--general-size-factor-px) * 5);

  pointer-events: none;
  z-index: -1;
}


/* animations */
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes radialAnimation {
  0% {
    --glowy-radius1: 0%;
    --glowy-radius2: 25%;
    --glowy-radius3: 50%;
    --glowy-radius4: 75%;
    --glowy-radius5: 100%;

  }
  100% {
    --glowy-radius1: 100%;
    --glowy-radius2: 125%;
    --glowy-radius3: 150%;
    --glowy-radius4: 175%;
    --glowy-radius5: 200%;
  }
}
/* media query */
@media screen and (orientation: landscape) {
  main.page {
    width: 100vh;
    height: 100vh;
  }
  :root{
    --general-size-factor-px: (0.00188323 * 100vh)
  }
}

@media screen and (orientation: portrait) {
  main.page {
    width: 100vw;
    height: 100vw;
  }
  :root{
    --general-size-factor-px: (0.00188323 * 100vw)
  }
}