@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot');
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff') format('woff'),
      url('./assets/fonts/Noto/NotoSans-Regular.ttf') format('truetype'),
      url('./assets/fonts/Noto/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --general-size-factor-px: (0.00188323 * 100vw); /* Will be overridden by media query.. */

  --background-color-primary: rgba(0, 0, 0, 1);
  --background-color-secondary: rgba(255,255,255, .2);
  --complementary-color-primary: rgba(255, 255, 255, 1);
  --complementary-color-primary-faded: rgba(255, 255, 255, .6);
  --complementary-color-secondary: rgba(100, 100, 255, 1);

  --text-shadow-primary: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary);
  --text-shadow-primary-faded: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary-faded);


}
@property --glowy-radius1 {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --glowy-radius2 {
  syntax: '<percentage>';
  initial-value: 25%;
  inherits: false;
}
@property --glowy-radius3 {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: false;
}
@property --glowy-radius4 {
  syntax: '<percentage>';
  initial-value: 75%;
  inherits: false;
}
@property --glowy-radius5 {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

* {
  padding: 0;
  margin: 0;
  
  background-color: var(--background-color-primary);
  color: var(--complementary-color-primary);
  
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: Noto Sans;
  font-size: calc(12 * var(--general-size-factor-px));
  transition: .3s ease-out;
}
html * {
  z-index: 1;
  background: transparent;
}

html, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  animation: opacity0to1 1s;
  position: absolute;
  top: calc(var(--general-size-factor-px) * 27);
}
/* nav */
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(var(--general-size-factor-px) * 400);
  height: calc(var(--general-size-factor-px) * 27);
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

  border-radius: 0 0 calc(var(--general-size-factor-px) * 10) calc(var(--general-size-factor-px) * 10);

}
.nav-link {
  text-decoration: none;
  background-color: transparent;
  transition: .3s ease-out;
  font-size: calc(20 * var(--general-size-factor-px));
}
.nav-link:hover {
  font-size: calc(22 * var(--general-size-factor-px));
  text-shadow: var(--text-shadow-primary-faded);
}
.nav-link.current {
  font-size: calc(25 * var(--general-size-factor-px));
  text-shadow: var(--text-shadow-primary);
}


/* page animations  */
.page {
  position: absolute;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


/* glowy!*/
div.glowy {
  opacity: 0;
  transition: unset;
  z-index: -1;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  width: calc(var(--general-size-factor-px) * 80);
  height: calc(var(--general-size-factor-px) * 80);
  pointer-events: none;

  mix-blend-mode: color;
  
  background: repeating-radial-gradient(
      circle,
      var(--complementary-color-primary) var(--glowy-radius1),
      var(--complementary-color-secondary) var(--glowy-radius2),
      var(--background-color-primary) var(--glowy-radius3),
      var(--complementary-color-primary) var(--glowy-radius4),
      var(--complementary-color-primary) calc(var(--glowy-radius1) * 2),
      var(--complementary-color-secondary) calc(var(--glowy-radius2) * 2),
      var(--background-color-primary) calc(var(--glowy-radius3) * 2),
      var(--complementary-color-primary) calc(var(--glowy-radius4) * 2)
    );

    mask-image: radial-gradient(50% 50% at 50% 50%, white, transparent);

    animation: radialAnimation .4s infinite linear;
}


/* animations */
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes radialAnimation {
  0% {
    --glowy-radius1: 0%;
    --glowy-radius2: 25%;
    --glowy-radius3: 50%;
    --glowy-radius4: 75%;
    --glowy-radius5: 100%;

  }
  100% {
    --glowy-radius1: 100%;
    --glowy-radius2: 125%;
    --glowy-radius3: 150%;
    --glowy-radius4: 175%;
    --glowy-radius5: 200%;
  }
}
/* media query */
@media screen and (orientation: landscape) {
  body {
    width: 100vh;
    height: 100vh;
  }
  :root{
    --general-size-factor-px: (0.00188323 * 100vh)
  }
}

@media screen and (orientation: portrait) {
  body {
    width: 100vw;
    height: 100vw;
  }
  :root{
    --general-size-factor-px: (0.00188323 * 100vw)
  }
}