@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot');
  src: url('./assets/fonts/Noto/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/Noto/NotoSans-Regular.woff') format('woff'),
      url('./assets/fonts/Noto/NotoSans-Regular.ttf') format('truetype'),
      url('./assets/fonts/Noto/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  color-scheme: dark;
  --general-size-factor-px: (0.00188323 * 100vw); /* Will be overridden by media query.. */
  --font-size-factor-px: var(--general-size-factor-px);
  --enlargeable-font-size-factor-px: calc(var(--font-size-factor-px) * 1);
  --nav-size-factor-px: calc(var(--general-size-factor-px) * 1);

  --nav-bar-height: calc(var(--font-size-factor-px) * 27);

  --background-color-primary: rgba(0, 0, 0, 1);
  --background-color-secondary: rgba(255,255,255, .05);


  --complementary-color-primary: rgba(255, 255, 255, 1);
  --complementary-color-primary-faded: rgba(255, 255, 255, .4);
  --complementary-color-secondary: rgb(65, 185, 255);
  --complementary-color-secondary-faded: rgba(100, 100, 255, .4);
  --complementary-color-tertiary: rgba(255, 100, 100, 1);
  --complementary-color-tertiary-faded: rgba(255, 100, 100, .4);
  --complementary-color-quaternary: rgba(100, 255, 100, 1);
  --complementary-color-quaternary-faded: rgba(100, 255, 100, .4);
  --complementary-color-quinary: rgb(200, 200, 0);
  --complementary-color-quinary-faded: rgba(200, 200, 0, .4);
  

  --text-shadow-primary: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary);
  --text-shadow-primary-faded: 0px 0px calc(var(--general-size-factor-px) * 5) var(--complementary-color-primary-faded);
}

* {
  padding: 0;
  margin: 0;
  
  background-color: var(--background-color-primary);
  color: var(--complementary-color-primary);
  
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: Noto Sans;
  font-size: calc(12 * var(--general-size-factor-px));
}
html * {
  z-index: 1;
  background: transparent;
}

html, #root, body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  animation: opacity0to1 1s;
}

main.page {
  z-index: -2;
  position: absolute;
  top: var(--nav-bar-height);
  left: 50%;
  transform: translate(-50%, 0%) scale(1);

  
}
main.page > * {
  position: absolute;
  width: 100%;
  height: 100%
}
main.page * {
  transition: 300ms ease-out;
}
/* nav */
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(var(--general-size-factor-px) * 500);
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

  border-radius: 0 0 calc(var(--general-size-factor-px) * 10) calc(var(--general-size-factor-px) * 10);

  pointer-events: none;
  background: transparent;
}
.nav-link {
  text-decoration: none;
  background-color: transparent;
  transition: .3s ease-out;
  font-size: calc(20 * var(--nav-size-factor-px));

  pointer-events: all;
}
a.nav-link:hover {
  font-size: calc(26 * var(--nav-size-factor-px));
  opacity: 1;
  text-shadow: var(--text-shadow-primary);
}
.nav-link.current {
  font-size: calc(24 * var(--nav-size-factor-px));
  opacity: 1;
  text-shadow: var(--text-shadow-primary-faded);
}


/* page animations  */

main.page-enter {
  opacity: 0;
  transform: translate(-50%, 20%) scale(.6);
}

main.page-enter-active {
  opacity: 1;
  transform: translate(-50%, 0%) scale(1);
  transition: 300ms;
}

main.page-exit {
  opacity: 1;
  transform: translate(-50%, 0%) scale(1);
}

main.page-exit-active {
  opacity: 0;
  transform: translate(-50%, -20%) scale(1.4);
  transition: 300ms;
}

em, em.secondary {
  color: var(--complementary-color-secondary);
}
em.tertiary {
  color: var(--complementary-color-tertiary);
}
em.quaternary {
  color: var(--complementary-color-quaternary);
}
em.quinary {
  color: var(--complementary-color-quinary);
}

/* glowy!*/


div.glowy-container div.trail-element {
  opacity: 0;
  border-radius: 50%;
  background: white;
  position: fixed;
  width: calc(var(--general-size-factor-px) * 5);
  height: calc(var(--general-size-factor-px) * 5);

  pointer-events: none;
  z-index: -1;
}


/* animations */
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes color-cycle {
  0% {
    color: var(--complementary-color-primary);
  }
  25% {
    color: var(--complementary-color-secondary);
  }
  50% {
    color: var(--complementary-color-tertiary);
  }
  75% {
    color: var(--complementary-color-quaternary);
  }
  100% {
    color: var(--complementary-color-primary);
  }
}

/* media query */
@media screen and (orientation: landscape) {
  main.page {
    width: 100vh;
    height: 100vh;
  }
  :root{
    --general-size-factor-px: calc(0.00188323 * 100vh)
  }
}

@media screen and (orientation: portrait) {
  main.page {
    width: 100vw;
    height: calc(100% - var(--nav-bar-height));
  }
  :root{
    --general-size-factor-px: calc(0.00188323 * 100vw)
  }
}

@media screen and (width <= 800px ) {
  /* * {outline:green 1px solid} */
  :root {
    --font-size-factor-px: calc(var(--general-size-factor-px) * 1);
    --enlargeable-font-size-factor-px: calc(var(--font-size-factor-px) * 1);
    --nav-size-factor-px: calc(var(--general-size-factor-px) * 1.5);
  }
  
}


@media screen and (width <= 600px ) {
  /* * {outline:green 1px solid} */
  :root {
    --font-size-factor-px: calc(var(--general-size-factor-px) * 1.1);
    --enlargeable-font-size-factor-px: calc(var(--font-size-factor-px) * 1.5);
    --nav-size-factor-px: calc(var(--general-size-factor-px) * 1.7);
  }
}

@media screen and (width <= 400px ) {
  /* * {outline:green 1px solid} */
  :root {
    --font-size-factor-px: calc(var(--general-size-factor-px) * 1.2);
    --enlargeable-font-size-factor-px: calc(var(--font-size-factor-px) * 2);
  } 
  
}

@media screen and (width <= 200px ) {
  /* * {outline:green 1px solid} */
  :root {
    --font-size-factor-px: calc(var(--general-size-factor-px) * 1.3);
    --enlargeable-font-size-factor-px: calc(var(--font-size-factor-px) * 2.5);
  }
  
}