.home-page-container * {
    font-size: calc(16 * var(--font-size-factor-px));
    line-height: calc(24 * var(--font-size-factor-px));
}



.under-construction{
    color: var(--complementary-color-quinary);
}
.intro {
    text-wrap: wrap;
    margin: calc(8 * var(--general-size-factor-px)) 0 ;
}

.home-page-container > div {
    margin: calc(30 * var(--general-size-factor-px)) 0 ;
}