div.home-page-container {
    
    overflow: hidden;
    
    position: relative;
}

div.home-page-container > div.scroll-element {
    
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%
}

.home-page-container > div.scroll-element * {
    font-size: calc(15 * var(--enlargeable-font-size-factor-px));
    line-height: calc(20 * var(--enlargeable-font-size-factor-px));
}



.under-construction{
    color: var(--complementary-color-quinary);
}
.intro {
    text-wrap: wrap;
    margin: calc(8 * var(--general-size-factor-px)) 0 ;
}

.home-page-container > div.scroll-element > div {
    margin: calc(30 * var(--general-size-factor-px)) 0 ;
}

.home-page-container > div.scroll-element > .image-container {
    padding: 0;
    position: relative;
    max-width: 100%;
    /* mask-image:  radial-gradient(ellipse 50% 60% at 40% 50%, rgba(0, 0, 0, .8) 50%, transparent 100%);  */

}

.home-page-container > div.scroll-element > .image-container > img {
    margin: 0;
    width: 100%;
    border-radius: calc(var(--general-size-factor-px) * 10);
}


.home-page-container > div.scroll-element > .image-container > img.background {
    
    filter: blur(calc(var(--general-size-factor-px) * 4)) brightness(40%);
}

.home-page-container > div.scroll-element > .image-container > img.foreground {
    position: absolute;
    top: 0;
    left: 0;
    --x: 40%;
    --y: 20%;
    transition: 1s;
    mask-image:  radial-gradient(circle at var(--x) var(--y), black 0%, transparent 40%);
    /* opacity: 0; */
}