/* roller */
:root{
    --full-rotation: 100deg;
    --partial-rotation: 10deg;
}
.image-roller-container{
    position: fixed;
    top: 10%;
    left: 80%;
    transform-style: preserve-3d;
    height: calc(var(--general-size-factor-px) * 100);
    width: calc(var(--general-size-factor-px) * 100);
    line-height: calc(var(--general-size-factor-px) * 16);
    transform: translate3d(0, 0, 0) rotateX(-40deg) rotateZ(-50deg);

    animation: image-roller-animation linear;
    animation-composition: add;

    
    animation-timeline: --projects-scroll-timeline;
}
.image-roller-item {
    z-index: -10;
    width: calc(var(--general-size-factor-px) * 100);
    height: calc(var(--general-size-factor-px) * 100);
	transform-style: preserve-3d;
    position: absolute;
    left: 0;
    text-wrap: nowrap;
    /* backface-visibility: hidden; */

    animation: spin-roller-item linear;

    animation-composition: add;

    
    animation-timeline: --projects-scroll-timeline;

}

@keyframes image-roller-animation {
    from {
        transform: translate3d(0, 0, 0) rotateX(calc(var(--partial-rotation) * .5)) rotateZ(0deg) rotateY(0deg);
    }
	to {
	    transform: translate3d(0, 0, 0) rotateX(calc(var(--full-rotation) + (var(--partial-rotation) * .5))) rotateZ(0deg) rotateY(0deg);
	}                     /* 360   -    7 / 360      to fix off by one */
}

@keyframes spin-roller-item {
    from {
        transform: rotateZ(var(--partial-rotation));
    }
    to {
        transform: rotateZ(calc(var(--full-rotation) + var(--partial-rotation)));
    }
    
}