div.mouse-over-spinner-container {

    border-radius: 50%;
    width: calc(var(--font-size-factor-px) * 170);
    height: calc( var(--font-size-factor-px) * 80 );
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%)
    
}

div.mouse-over-spinner-selected{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: calc( var(--font-size-factor-px) * 8 ) !important;
    opacity:  .4;

}
div.mouse-over-spinner-container:hover div.mouse-over-spinner-selected{
    opacity:  1;
}


div.mouse-over-spinner-container:hover {
    background-color: var(--background-color-secondary);
    box-shadow: 0px 0px calc(var(--font-size-factor-px) *10) calc(var(--font-size-factor-px) *10) var(--background-color-secondary);
}


div.mouse-over-spinner-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: calc( var(--font-size-factor-px) * 18 );
    line-height: calc( var(--font-size-factor-px) * 18 );
    text-wrap: nowrap;
}

div.mouse-over-spinner-item.clickable {
    cursor: pointer;
    opacity: 0.6;
}

div.mouse-over-spinner-item.clickable:hover {
    text-shadow: var(--text-shadow-primary);
    font-size: calc( var(--font-size-factor-px) * 20 );
    opacity: .9
}

div.mouse-over-spinner-item.selected.clickable {
    text-shadow: var(--text-shadow-primary);
    font-size: calc( var(--font-size-factor-px) * 20 );
    opacity: 1
}