.post-single-page-container{
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
}

div.post-single-page-container * {
    
    font-size: calc(var(--enlargeable-font-size-factor-px) *15);
    /* scrollbar-width: thin; */
}
div.post-single-page-container > .html-area{
    display:block;
    margin-top: calc(var(--enlargeable-font-size-factor-px) * 50);
}

div.post-single-page-container > a{
    display:block;
    margin-bottom: calc(var(--enlargeable-font-size-factor-px) * 50);
}
div.post-single-page-container > .html-area > section,
div.post-single-page-container > .html-area > section > * {
    margin-bottom: calc(var(--enlargeable-font-size-factor-px) * 10);
}

div.post-single-page-container > div.html-area > section > a{
    display: block;
}

div.post-single-page-container > div > section > a:hover{
    font-size: calc(var(--enlargeable-font-size-factor-px) * 17);
}

h1.post.title{
    font-size: calc(var(--enlargeable-font-size-factor-px) *20);
}

h2 {
    color: var(--complementary-color-tertiary);
}

code {
    color: var(--complementary-color-quaternary);
    white-space: preserve;
}

img {
    width: 100%;
}

.container-side-by-side {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: calc(var(--enlargeable-font-size-factor-px) * 10);
}

.container-side-by-side > * {
    flex-grow: 1;
}