div.post-index-page-container {
    overflow-y: auto;
    scroll-behavior: smooth;
}

div.post-index-page-container * {

    font-size: calc(var(--enlargeable-font-size-factor-px) *16);
}

div.post-index-page-container > ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 14%;
}

div.post-index-page-container > ul > li {
    margin-bottom: 5%;
}