div.post-index-page-container {
    overflow-y: auto;
    scroll-behavior: smooth;
}

div.post-index-page-container * {

    font-size: calc(var(--enlargeable-font-size-factor-px) *16);
}
div.sorting-by-spinner{
    position: relative;
    margin-top: 6%;
}
div.sorting-by-note{
    vertical-align:baseline;
    position: relative;
    left: 50%;
    margin-top: 3%;
    transform: translate(-50%, 0%);

    font-size: calc( var(--enlargeable-font-size-factor-px) * 16 );
    line-height:calc( var(--enlargeable-font-size-factor-px) * 18 );
    text-wrap: wrap;
    width: 100%;
    text-align: center;
    opacity:  .4;

}
div.sorting-by-note:hover{
    opacity:  1;
}
div.sorting-by-note:hover > em.clickable {
    font-size:  calc( var(--enlargeable-font-size-factor-px) * 18 );
}

div.sorting-by-note > em {
    font-size: calc( var(--enlargeable-font-size-factor-px) * 16 );
    line-height:calc( var(--enlargeable-font-size-factor-px) * 16 );
}
div.sorting-by-note > em.clickable:hover {
    text-shadow: var(--text-shadow-primary);
    cursor: pointer;
}


div.post-index-page-container > ul {
    list-style-type: none;
    text-align: center;
    position: relative;
}

div.post-index-page-container > ul > li {
    margin-bottom: 5%;
}