

.projects-page-container {
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    scroll-timeline: --projects-scroll-timeline y;
    scroll-behavior: smooth;
}

.projects-page-container section {
    height: 100%;
    scroll-snap-align: center;
    /* animation: roll-items; any */
    /* animation-timeline: --projects-scroll-timeline; */
}

.projects-page-container section img {
    position: absolute;
    z-index: -10;
    width: 50%;
    height: 50%;
}





