.projects-page-container{
    overflow:hidden;

    position: relative;
}


.projects-page-container .scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    scroll-timeline: --projects-scroll-timeline y;
    scroll-behavior: smooth;
}

.projects-page-container section {
    height: 100%;
    scroll-snap-align: center;
    /* outline: solid 2px red */
}

.projects-page-container section img {
    position: absolute;
    z-index: -10;
    width: calc(var(--general-size-factor-px) * 400);
    height: calc(var(--general-size-factor-px) * 400);
}

.projects-page-container section .scroll-note {
    position: absolute;
    bottom: 0;
}


@media screen and (orientation: portrait) {
    main.page > div.projects-page-container {
        height: calc(100vh - var(--nav-bar-height));
    }

    @media screen and (width <= 85vh ) {
        .projects-page-container section img {
            width: 100%;
            height: 100vw;
        }
        
    }
}



